{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="jumbotron mt-5">
  <h1 class="display-4 text-center">ASEM-KENITRA</h1>
  <p class="lead text-center pl-2 pr-2 ">
    L'Association des Stagiaires, Étudiants et Élèves Maliens au Maroc (A.S.E.M) est une organisation dédiée à rassembler
    la communauté malienne d'étudiants et de stagiaires résidant au Maroc. Fondée sur les principes d'unité,
    de travail et de solidarité, l'association est apolitique et areligieuse avec un objectif non lucratif.
    L'A.S.E.M, ayant son siège à Rabat à l'ambassade de la République du Mali, se distingue par son emblème
    incorporant la carte du Mali aux couleurs nationales et des symboles représentant la bravoure et le lien entre le Mali et
    le Maroc.
    L'association se consacre à la défense des droits et intérêts de ses membres, visant à renforcer l'unité,
    la fraternité et l'entraide parmi les étudiants maliens au Maroc. Elle s'engage également à faciliter l'échange entre
    ses membres et diverses instances, tout en organisant des activités scientifiques, sociales, culturelles et sportives pour
    l'épanouissement de sa communauté. L'A.S.E.M accueille et guide les nouveaux étudiants maliens au Maroc, soutenant ceux en
    difficulté et informant sur leurs conditions de vie.

  Tout étudiant, stagiaire ou élève malien au Maroc est automatiquement membre de l'association, avec des distinctions entre membres
    actifs, adhérents et d'honneur. Les membres s'engagent à respecter les lois marocaines et les objectifs de l'association,
    participant activement à sa vie associative et respectant les décisions prises collectivement.
  </p>
  <hr class="my-4">
</div>

{% endblock content %}