{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="container" style="margin-top:100px;">
        <div class="col">
            <h2> Documents importants </h2>
            <ul>
                <li>
                   Attestation du BAC + Relevés de notes ;
                </li>
                <li>Acte de naissance ;</li>
                <li>Lettre de l’AMCI (Allocation Marocaine pour la Coopération Internationale) ;</li>
                <li>Casier judiciaire ;</li>
                <li>Certificat de Nationalité ;</li>
                <li> Extrait d’acte de naissance ;</li>
            </ul>
        </div>
        <div class="col">
            <h2>  Formalités administratives pour la carte consulaire </h2>
            <p>Les documents ont présenté au conseiller consulaire de l’ambassade Mr Yassine (numéro de
            téléphone est +212 626235488) sont :</p>
            <ul>
                <li>
                   Extrait d’acte de naissance ou de la carte Nina (pour tout malien résident au Maroc)
                </li>
                <li>Trois (3) photos d’identité.</li>
                <li>Attestation d’inscription pour les étudiants, stagiaires et élèves.</li>
                <li>Casier judiciaire ;</li>
                <li> Frais de quatre-vingts (80) dirhams</li>
            </ul>
            <p><strong>NB : Les détenteurs de la carte biométrique n’ont pas besoin de la carte consulaire</strong></p>
        </div>
        <div class="col">
            <h2>Les dossiers à présenter pour avoir la carte séjour sont : </h2>
            <ul>
               <li>Casier judiciaire</li>
                <li>Certificat de nationalité</li>
                <li>Attestation de bourse</li>
                <li>Copie Passeport (page photo et cachet d’entrée sur le territoire marocain)</li>
                <li>Contrat de bail</li>
                <li>6 Photos d’identités</li>
                <li>Certificat médical (à récupérer à la fac de Kenitra)</li>
            </ul>
            <p><strong>NB : Tous les documents doivent être certifies et légalisés conformément a l’original sans ratures
            ni surcharges.</strong></p>
        </div>
        <div class="col">
            <h2>Comment se préparer financièrement ?</h2>
            <p>Pour l’AMCI : la bourse est de 1500 dh chaque 2 mois (pour les 3 premières tranches) et 1250
            dh chaque 2 mois (pour les 3 dernières tranches).
            A l’arrivée de l’étudiant, il reçoit la première tranche qui est de 1050 dh ;</p>
            <p>
                La bourse du Mali : versée à l’étudiant est généralement en retard. L’étudiant doit créer un
            compte SAMA-Money pour la réussite de vos différentes transactions trimestrielle (chaque
            trois mois).
            </p>
            <h2>Quels sont les dépenses mensuelles. En moyenne, ces dépenses sont de</h2>
            <ul>
                <li>600 dh – 1 100 dh chacun (collocation) pour le logement</li>
                <li>500 dh – 1 000 dh pour les provisions</li>
                <li>249 dh ou (divisé par le nombre de personnes vivant dans l’appartement) pour le Wifi</li>
                <li>400 dh à 500 dh (divisé par le nombre de personnes vivant dans l’appartement) pour l’Eau et l’électricité (le montant dépend de votre consommation)</li>
            </ul>

        </div>







    </div>



{% endblock content %}